/.vs/
/.vscode/
/.idea/
/build/
/dist/
/tmp/
/temp/
/artifacts/
/logs/
*.log
*.tmp
*.obj
*.pdb
*.exe
*.dll
*.i64
*.mp4
*.lnk
*.png
!ex/image/pr2_rail/*.png
*.jpg
*.jpeg
*.bmp
*.gif
*.webp
*.zip
*.7z
*.rar
*.psd
*.ai
*.pyc
Thumbs.db
Desktop.ini
!**/.gitkeep
